@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-titre: 'Nosifer', cursive;
  --font-text: 'Quicksand', sans-serif;
}


body {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  background-color: #4fa3b6;
}

/* ----------------------------------------------------- */

header {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #096D93;
}

header h1 {
  height: 50%;
  font-family: var(--font-titre);
  color: white;
}

header img {
  margin: 0.3rem;
  height: 40%;
  float: left;
}

header nav {
  width: 100%;
  height: 50%;
  background-color: #0e4259;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

header nav ul li {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li:hover {
  transition: 1s;
  background-color: rgba(79, 163, 182, 0.5);
}

header nav ul li i {
  color: white;
}

.text_icone_nav_header {
  display: none;
  color: white;
  text-transform: uppercase;
  font-family: var(--font-text);
  margin-left: 10px;
}

@media (min-width:1200px) {
  .text_icone_nav_header {
    display: block;
  }
}

/* ----------------------------------------------------- */

main {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section {
  margin: 1rem 0;
  width: 68%;
  display: flex;
  flex-wrap: wrap;
}

main section h2 {
  margin: 1rem 0;
  width: 100%;
  text-transform: uppercase;
  font-family: var(--font-text);
}

.add_card_by_js {
  width: 48%;
  display: flex;
  border-radius: 5%;
  margin: 0.2rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  font-family: var(--font-text);
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
}


.add_card_by_js span {
  position: relative;
}

main nav {
  border-radius: 20px;
  width: 30%;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
}

main nav ul {
  margin: 0.2rem;
  list-style: none;
}

main nav ul li {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  padding: 0.5rem;
}

main nav ul li:hover {
  background-color: rgba(79, 163, 182, 0.5);
  transition: 1s;
  border-radius: 8px;
}

main nav ul li i {
  color: #4fa3b6;
}

main nav ul li p {
  margin-left: 0.5rem;
  font-family: var(--font-text);
  text-transform: uppercase;
  font-weight: 700;
}

.deger_psedo_element::after {
  content: "°";
  position: absolute;
  right: -2px;
  top: 2px;
}

div {
  margin: 1rem 0;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

div img {
  width: 45%;
  margin: 0.2rem;
}

form {
  margin: 1.5rem 0;
  width: 50%;
  justify-content: center;
  background-color: white;
  border-radius: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-text);
  color: #4fa3b6;
}

form h2 {
  text-transform: capitalize;
}

form p {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

form input {
  width: 90%;
  height: 12%;
  margin: 0.5rem 0;
  border-radius: 10px;
}

form button {
  width: 90%;
  height: 12%;
  margin: 0.5rem 0;
  border-radius: 10px;
  background-color: #4fa3b6;
  border: none;
  color: white;
  text-transform: uppercase;
}

/* ----------------------------------------------------- */

footer {
  width: 100%;
  background-color: #096D93;
  text-align: center;
  font-family: var(--font-titre);
  color: white;
  padding: 1.5rem;
}